@import 'setup';
@import 'hovers';

$secondary: #f6f6f6;

body {
	color: black;
	font-size: 62.5%;
	font-family: "Work Sans", sans-serif;
	background: $secondary;
}

h2 {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	margin: 10px 0px;
}

h3 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7rem;
	letter-spacing: 0.08rem;
}

p {
	font-size: 0.8rem;
}

h4 {
	font-size: 1.8rem;
}

button {
	border: none;
	background: black;
	color: white;
	padding: 5px;
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
	// transform: translateX(-50%);
}

a {
	padding-bottom: 5px;
	text-decoration: none;
}

@import 'splash';


.content img {
	max-width: 200px;
}


header {
	width: 100%;
	height: 40px;
	border-bottom:  1px solid black;

	h4 {
		margin-left: 15px;
	}
}

#destinationName {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 8px;
}

.container {
	width: 100vw;
	height: calc(100vh - 45px);
	min-height: 600px;
	display: grid;
	grid-template-areas: 
	"poi poi weather currency"
	"poi poi tours tours"
	"language airport tours tours";
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 33% 33% 33%;
}

.content {
	padding: 20px;
}


#poi img {
	float: left;
	margin-right: 15px;
	max-width: 100px;
}

#poi > div {
	width: 100%;
	padding: 25px 0px;
	border-bottom: 1px solid #d3d3d3;
}

#poi > div:last-of-type {
	border-bottom: none;
}

#poi {
	grid-area: poi;
	// background: red;
	width: 100%;
	overflow-y: scroll;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#weather {
	grid-area: weather;
	border-right:  1px solid black;
	// background: yellow;

	p {
		font-size: 1rem;
		clear: both;
	}

	canvas {
		float: left;
	}

	h3 {
		margin-bottom: 10px;
	}
}


#currency{
	
	grid-area: currency;
	// background: blue;
}

.userCurrency {
	border: none;
	border-bottom: 2px solid black;
	padding: 10px 25px 10px 0px;
	background: $secondary;
}

#tours{
	grid-area: tours;
	// background: green;
	border-top: 1px solid black;
	overflow-y: scroll;

	img {
		float: left;
		height: 95px;
		margin-right: 15px;
	}

	> div {
		padding: 25px 0px;
		border-bottom: 1px solid #d3d3d3;
		width: 100%;
	}

	> div:last-of-type {
		border: none;
	}
}


#language {
	grid-area: language;
	border-right:  1px solid black;
	// background: PURPLE;
}

#airport{
	grid-area: airport;
	border-right: 1px solid black;
	// background: BROWN;
}

input[type=search]:focus, input[type=text]:focus, #user:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.contentSearchForm {
	position: absolute;
	background: none;
	right: 8px;
	top: 8px;
	transform: none;
}

.contentSearchBar {
	background: none;
	font-size: 0.8rem;
	color: black;
	border: 1px solid black;
	border-radius: 1.5rem;
	padding: 5px;
}

@media (max-width: 900px) {
	.container {
		grid-template-areas: 
			"poi poi weather"
			"poi poi currency" 
			"airport tours tours"
			"language tours tours";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 40% 40% 40% 40%;
	}	

	#weather {
		border-bottom: 1px solid black;
	}

	#poi {
		border-bottom: none;
	}

	#airport {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

@media (max-width: 630px) {
	#destination {
		width: 100px;
	}

	#poi {
		border-bottom: 1px solid black;
	}
	#weather {
		border-bottom: none;
	}

	#tours {
		border-bottom: 1px solid black;
	}

	#airport {
		border-top: none;
		border-bottom: none;
	}

	.container {
		grid-template-areas: 
			"poi poi"
			"poi poi" 
			"weather currency"
			"tours tours"
			"tours tours"
			"language airport" ;
		grid-template-columns: 50% 50%;
		grid-template-rows: repeat(6, 33vh);
	}	
}

@media (max-width: 500px) {
	#logo {
		display:none;
	}
}

@media (max-width: 400px) {
	#destinationName {
		font-size: 1rem;
		margin-left: -12%;
	}

	#weather {
		border-bottom: 1px solid black;
	}

	#tours {
		border-bottom: 1px solid black;
	}

	.container {
		grid-template-areas: 
			"poi" 
			"poi" 
			"weather" 
			"currency"
			"tours" 
			"tours" 
			"language" 
			"airport" ;
		grid-template-columns: 100%;
		grid-template-rows: 275px 275px 200px 200px 275px 275px 200px 200px ;
	}	
}