@import 'setup';
@import 'hovers';
@import 'typography';
@import 'splash';

input {
    border-radius: 0;
}

input {
    -webkit-appearance: none;
}

header {
	width: 100%;
	height: 40px;
	border-bottom:  1px solid black;

	a {
		margin-left: 15px;
		font-weight: 600;
		font-size: 1.5rem;
		margin-top: 5px;
	}

	#destinationName {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 8px;
		width: 300px;                  /* IE6 needs any width */
		overflow: hidden;           
		text-overflow: ellipsis; 
		text-align: center;
	}
}


.container {
	width: 100vw;
	height: calc(100vh - 45px);
	min-height: 600px;
	display: grid;
	grid-template-areas: 
	"poi poi weather currency"
	"poi poi tours tours"
	"language airport tours tours";
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 33% 33% 33%;
}

.content {
	padding: 20px;
	position: relative;
}

#poi {
	grid-area: poi;
	width: 100%;
	overflow-y: scroll;
	border-right: 1px solid black;
	border-bottom: 1px solid black;

	button {
		margin-left: 40%;
	}

	img {
		float: left;
		margin-right: 15px;
		max-width: 100px;
	}

	> div {
		width: 100%;
		padding: 25px 0px;
		border-bottom: 1px solid #d3d3d3;
	}

	> div:last-of-type {
		border-bottom: none;
	}
}

#weather {
	grid-area: weather;
	border-right:  1px solid black;
	// background: yellow;

	p {
		font-size: 1rem;
		clear: both;
	}

	canvas {
		float: left;
	}

	h3 {
		margin-bottom: 10px;
	}
}


#currency {
	grid-area: currency;
	// background: blue;
	button {
		display: block;
	}
}

.userCurrency {
	border: none;
	border-bottom: 2px solid black;
	padding: 10px 25px 10px 0px;
	background: $secondary;
}

#tours{
	grid-area: tours;
	// background: green;
	border-top: 1px solid black;
	overflow-y: scroll;

	img {
		float: left;
		height: 95px;
		margin-right: 15px;
	}

	> div {
		padding: 25px 0px;
		border-bottom: 1px solid #d3d3d3;
		width: 100%;
	}

	> div:last-of-type {
		border: none;
	}

	button {
		margin-left: 40%;
	}
}


#language {
	grid-area: language;
	border-right:  1px solid black;

	h2 {
		margin-bottom: 0px;
	}
}

#airport{
	grid-area: airport;
	border-right: 1px solid black;
}

.contentSearchForm {
	position: absolute;
	background: none;
	right: 8px;
	top: 8px;
	transform: none;
	width: 200px;
}

.contentSearchBar {
	background: none;
	font-size: 0.6rem;
	color: black;
	border: 1px solid black;
	border-radius: 1.5rem;
	padding: 5px;
	width: 150px;
}

.contentSearchButton {
	font-size: 0.8rem;
	// position: absolute;
	color: black;
	background:none;
	position: absolute;
	right: 2px;
	top: -10px;
}

.loader {
	animation: floating 1.5s infinite;
	position: absolute;
	color: black;
	font-size: 2rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@import 'media-queries'